<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>obilet</title>
    <link rel="stylesheet" href="./_assets/css/style.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/js-datepicker/dist/datepicker.min.css"
    />
  </head>
  <body>
    <header></header>
    <main class="search">
      <div class="container">
        <form>
          <div class="form-wrapper">
            <div class="form-group">
              <em class="icon icon-location"></em>
              <div>
                <label for="origin">Nereden</label>
                <div class="select">
                  <select id="origin">
                    <!-- <option value="Option 1" selected>izmir</option>
                    <option value="Option 2" >istanbul</option> -->
                  </select>
                  <span class="focus"></span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <em class="icon icon-location"></em>
              <div>
                <label for="destination">Nereye</label>
                <div class="select">
                  <select id="destination">
                    <!-- <option value="Option 1" selected>ankara</option> -->
                  </select>
                  <span class="focus"></span>
                </div>
              </div>
            </div>
            <span class="switch-btn">
              <em class="icon icon-switch"></em>
            </span>
          </div>

          <div class="form-group">
            <em class="icon icon-calendar"></em>
            <div class="d-flex flex-column">
              <label for="">Tarih</label>
              <input type="text" id="datepicker" name="datepicker" />
            </div>
            <div class="d-flex flex-column">
              <button class="btn btn-day date-today active mb-1">Bugün</button>
              <button class="btn btn-day date-tomorrow">Yarın</button>
            </div>
          </div>
          <button type="submit" class="btn btn-primary mt-3 mx-5 w-75">Bileti Bul</button>
        </form>
      </div>
    </main>
    <section>
      <div class="container">
        <p class="p-3">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
          nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
          volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
          ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
          Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
          molestie consequat, vel illum dolore eu feugiat nulla facilisis at
          vero eros et accumsan et iusto odio dignissim qui blandit praesent

        </p>
      </div>
    </section>
    <script type="text/javascript" src="./_assets/js/scripts.min.js"></script>
  </body>
</html>
