<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>seferler</title>
    <link rel="stylesheet" href="./_assets/css/style.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="journey-header">
      <div class="container">
        <a href="/">
          <em class="icon icon-arrow-left"></em>
        </a>
        <div class="journey-header-title">
          <h1>İstanbul Avrupa - Ankara</h1>
          <p>20.05.2021</p>
        </div>
      </div>
    </header>
    <section class="journey-card py-2">
      <div class="container">
        <div class="card mb-2">
          <div class="row card-row">
            <div class="col">
              <div class="card-info">
                <div class="d-flex flex-column">
                  <span>KALKIŞ</span>
                  <span>09:30</span>
                </div>
                <span class="d-flex justify-content-center">
                  <em class="icon icon-arrow-left"></em
                ></span>
                <div class="d-flex flex-column mx-2">
                  <span>KALKIŞ</span>
                  <span>09:30</span>
                </div>
              </div>
              <p class="m-0">Esenler Otogarı - Ankara Aşti Otogarı</p>
            </div>

            <div class="col d-flex justify-content-end align-items-start">
              <span class="card-price">75.00 TL</span>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
