header {
  background-color: $primary-color;
  height: 40px;

  &.journey-header {
    height: auto;
    padding: 16px 10px;
    display: flex;
    justify-content: center;
    position: relative;
    .journey-header {
      &-title {
        color: $white;
        text-align: center;
        h1 {
          font-weight: 500;
          font-size: $font-size-s;
        }
        p {
          font-size: $font-size-xs;
        }
      }
    }

    a {
      position: absolute;
      left: 10px;
      top: 20%;
      transform: translateY(-20%);
      text-decoration: none;
      .icon {
        color: $white;
      }
    }
  }
}
