
$black: #000000;
$white: #ffffff;
$gray: #00000029;
$dark: #083145;
$soft-gray: #F3F3F3;
$ligth-gray: #EDEDED;
$bg-gray: #F8F8F8;
$dark-blue: #192289;
$light-blue: #3640B1;
$icon-gray: #9D9D9C;
$border-gray: #707070;
$btn-gray: #5D686E;

$primary-color: #2F4EB4;
$secondary-color: #D23B38;

$font-primary: 'Open Sans', sans-serif;
$_1rem: 16px;


// $font-size-xxxl: 3rem; // 48px  
$font-size-xxl: 2.75rem;  //44px
$font-size-xl: 2.50rem;  //40px
// $font-size-l: 2rem; //32px

$font-size-l: 1.063; //17px
$font-size-m: 0.938; //15px
$font-size-s: 0.875rem; //14px
$font-size-xs: 0.75rem; //12px
$font-size-xxs: 0.563rem; //9px

$large_desktop: 1440px;
$small_desktop: 1170px;
$tablet: 992px;
$phablet: 767px;
$mobile: 576px;
$mobilexs: 320px;
